body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffcccc; /* Light Red */
}

.login-container {
    background-color: #ff6666; /* Dark Red */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label,
input {
    margin-bottom: 10px;
}

button {
    background-color: #ff3333; /* Darker Red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff0000; /* Lighter Red */
}
